[submodule "vendor/fnalibs"]
	path = vendor/fnalibs
	url = https://github.com/pacojq/fnalibs.git
[submodule "vendor/FNA"]
	path = vendor/FNA
	url = https://github.com/pacojq/FNA.git
[submodule "vendor/Myra"]
	path = vendor/Myra
	url = https://github.com/rds1983/Myra.git
